<div class="card navbar">
    <div class="navbar-container">
        <div class="row">
            <b class="col navbar-title">
                <a href="@Url.Action("Index", "Home")">EventHub Viewer</a>
            </b>
            <div class="col navbar-settings">
                <a href="@Url.Action("Index", "Configuration")">Configuration</a>
            </div>
        </div>
    </div>
</div>